<div style="justify-content: space-around; display: flex; align-items: center; height: 100%">

    <div style="max-width: 300px;">
        <md-toolbar color="primary">
            Latinize demo
        </md-toolbar>

        <md-card>

            <md-card-subtitle>
                Try changing the input value.
            </md-card-subtitle>

            <md-input-container>
                <input mdInput placeholder="input" type="text" (keyup)="inputChanged()" [(ngModel)]="input"
                       required>
            </md-input-container>

            <h3 style="color: rgba(0,0,0,.38); font-size: smaller; font-weight: normal;">Output</h3>
            {{ output }}

        </md-card>
    </div>

</div>
